openapi: 3.1.0
info:
  title: Axel API
  version: "0.1.0"
  summary: Receive webhooks and manage workspace configuration.
  description: |
    Axel has two API endpoints:

    - The workspace API at `https://app.axelapp.ai/api/v1` lists sources,
      destinations, and routes, creates sources, queues replays, and exports
      workspace configuration.
      Authenticated with a workspace API key:
      `Authorization: Bearer axl_…`. Create keys at
      [Settings → API keys](https://app.axelapp.ai/settings?tab=api-keys).

    - Ingest at `https://ingest.axelapp.ai` accepts webhook payloads.
      Custom sources authenticate with the `x-axel-token` request header. Stripe, GitHub, Shopify, and Chargebee sources
      use their native signature or webhook Basic Auth and do not
      use an Axel source token. Custom sources can opt into a separate
      URL credential for senders that cannot set headers.

    ### Scopes
    Workspace API keys carry one or more scopes:

    | scope    | grants                                   |
    |----------|------------------------------------------|
    | `read`   | list sources, destinations, routes, usage |
    | `write`  | create sources (implies `read`)           |
    | `replay` | enqueue replays for dead-letter events    |
    | `admin`  | export workspace config (implies all)     |

    Pick the narrowest scope that works for the integration.

    ### Errors
    Workspace API errors return `{ "error": string, "code": string }`
    with an HTTP status that matches the failure class. Ingest errors
    return `{ "error": string }` (sometimes with a `reason` slug for
    `invalid_signature`, or a `retry_after_seconds` hint for 429/503).

    ### Pagination
    List endpoints accept `limit` (default 50, max 1000) and `cursor`
    (the last id returned in the previous page). When `meta.next_cursor`
    is `null`, you've reached the end.
  contact:
    name: Axel support
    url: https://app.axelapp.ai
  license:
    name: Apache License 2.0
    identifier: Apache-2.0

servers:
  - url: https://app.axelapp.ai
    description: Workspace API (production)

tags:
  - name: Sources
    description: Webhook ingest endpoints owned by your workspace.
  - name: Destinations
    description: Where Axel delivers events after routing.
  - name: Routes
    description: Filters and transforms that connect sources to destinations.
  - name: Replays
    description: Re-deliver events that landed in the dead-letter queue.
  - name: Usage
    description: Workspace usage counters.
  - name: Config
    description: Export a redacted workspace configuration as JSON.
  - name: Ingest
    description: Accept webhook payloads and queue them for routing.

security:
  - WorkspaceBearer: []

paths:
  /api/v1/sources:
    get:
      operationId: listSources
      summary: List sources
      description: |
        Returns the sources in the authenticated workspace, newest first.
        Keyset-paginated on `id`.
      tags: [Sources]
      security:
        - WorkspaceBearer: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of sources.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Source" }
                  meta: { $ref: "#/components/schemas/PageMeta" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      operationId: createSource
      summary: Create a source
      description: |
        Creates a custom source and returns `secret_token`, shown only once.
        Save the token before leaving the response. Send webhooks to the
        returned `ingest_url` with the token in the `x-axel-token` header.
        The token remains valid until it is rotated or the source is disabled. This endpoint does not create a named-provider
        signature configuration.
      tags: [Sources]
      security:
        - WorkspaceBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 64
                  description: Human-readable label (unique within the workspace).
                  example: stripe-webhooks-prod
      responses:
        "201":
          description: Source created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SourceCreated" }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409":
          description: The source name already exists, or the workspace became inactive before creation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                duplicateName:
                  value: { error: "Source name already in use.", code: "source_name_taken" }
                workspaceInactive:
                  value: { error: "Workspace is not active. Source was not created.", code: "workspace_inactive" }

  /api/v1/destinations:
    get:
      operationId: listDestinations
      summary: List destinations
      tags: [Destinations]
      security:
        - WorkspaceBearer: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of destinations.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Destination" }
                  meta: { $ref: "#/components/schemas/PageMeta" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  /api/v1/routes:
    get:
      operationId: listRoutes
      summary: List routes
      tags: [Routes]
      security:
        - WorkspaceBearer: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of routes.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Route" }
                  meta: { $ref: "#/components/schemas/PageMeta" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  /api/v1/usage:
    get:
      operationId: getUsage
      summary: Workspace usage summary
      description: |
        Returns active resource counts and a 30-day dead-letter total.
      tags: [Usage]
      security:
        - WorkspaceBearer: []
      responses:
        "200":
          description: Usage snapshot.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [active_sources, active_destinations, dead_letters_30d]
                    properties:
                      active_sources: { type: integer, minimum: 0 }
                      active_destinations: { type: integer, minimum: 0 }
                      dead_letters_30d: { type: integer, minimum: 0 }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  /api/v1/config:
    get:
      operationId: exportConfig
      summary: Export workspace config
      description: |
        Returns a versioned JSON snapshot of sources, destinations, routes,
        and route bindings for configuration review. This is not a backup
        of credentials or an import format.

        Source token hashes and signing-secret ciphertext are omitted.
        Destination URLs and configured header values are redacted; header
        names remain. A present `credentials_ref` becomes a redaction marker.
        Use the dashboard to configure destination credentials and URLs.
      tags: [Config]
      security:
        - WorkspaceBearer: []
      responses:
        "200":
          description: Workspace config snapshot.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExportedConfig" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  /api/v1/replays:
    post:
      operationId: enqueueReplay
      summary: Enqueue a replay
      description: |
        Queues a replay for the given `event_id`. The periodic worker picks
        it up on its next poll. `scope` controls which
        deliveries get retried:

        - `all` is the default and selects every destination attached to the route.
        - `route` selects deliveries on the named `route_id`.
        - `destination` selects the named `destination_id`.

        Returns `202 Accepted` with the new replay row in `pending`
        state. The event must have a matching unresolved dead-letter row.
      tags: [Replays]
      security:
        - WorkspaceBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_id]
              properties:
                event_id:
                  type: string
                  description: UUIDv7 from the original ingest 202 response.
                  example: 01935b3e-2c08-7c00-8000-c8a1b1e9d2f7
                scope:
                  type: string
                  enum: [all, route, destination]
                  default: all
                route_id:
                  type: string
                  description: Required when `scope = route`.
                  example: rte_2c01dd
                destination_id:
                  type: string
                  description: Required when `scope = destination`.
                  example: dst_a91f02
      responses:
        "202":
          description: Replay enqueued.
          content:
            application/json:
              schema:
                type: object
                required: [id, event_id, scope, state]
                properties:
                  id: { type: string, example: rpy_4a8e9c }
                  event_id: { type: string }
                  scope:
                    type: string
                    enum: [all, route, destination]
                  state:
                    type: string
                    enum: [pending]
        "400":
          $ref: "#/components/responses/BadRequest"
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404":
          description: |
            No replayable dead-letter row for that `event_id`, or the
            supplied `route_id` / `destination_id` doesn't belong to
            this workspace.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                eventNotFound:
                  value: { error: "No unresolved replayable dead-letter row for event_id \"…\".", code: "not_found" }
                routeNotFound:
                  value: { error: "route_id \"…\" not found in this workspace.", code: "route_not_found" }
                destinationNotFound:
                  value: { error: "destination_id \"…\" not found in this workspace.", code: "destination_not_found" }

  /in/{sourceId}:
    post:
      operationId: ingestEvent
      summary: Ingest a webhook
      description: |
        Custom sources require their source token in
        the `x-axel-token` request header. Stripe, GitHub, Shopify, and
        Chargebee sources use the provider authentication configured on
        the source without an Axel token. Any `token` query parameter is
        rejected. Axel stores the payload to durable object storage,
        enqueues it for routing, and returns
        `202 Accepted` with an `event_id` you can use to look up the
        delivery on the dashboard or replay it later.

        Custom sources may also use an opt-in `url_token` query credential.
        Generate the full authenticated URL from the source Settings tab.
        This credential is independent of `x-axel-token`; header tokens do not
        work in URLs. URL auth is disabled until an owner/admin enables it.
        Duplicate `url_token` parameters or combining one with `x-axel-token`
        returns `401 ambiguous_authentication`. Keep the URL private; upstream
        senders and proxies may log it. Named providers cannot use URL auth.

        Send these requests to `https://ingest.axelapp.ai`, not the workspace API host.

        Any content type is accepted. Per-source limits (body size,
        body depth, rate) are enforced; over-limit requests get a 413
        or 429 with a `retry-after` header where applicable.

        Named-provider signature verification is mandatory. A custom
        source configured with optional custom HMAC requires both its
        header or URL credential and a valid `X-Axel-Signature` header.
      tags: [Ingest]
      servers:
        - url: https://ingest.axelapp.ai
          description: Ingest (production)
      security:
        - SourceToken: []
        - SourceUrlToken: []
        - StripeSignature: []
        - GitHubSignature: []
        - ShopifySignature: []
        - ChargebeeBasic: []
      parameters:
        - in: path
          name: sourceId
          required: true
          schema: { type: string, example: src_8c12af }
          description: Source id returned from `POST /api/v1/sources`.
      requestBody:
        required: true
        description: Raw upstream webhook payload. Any content type.
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
            example:
              type: payment_intent.succeeded
              data: { object: { id: pi_3O…, amount: 1999, currency: usd } }
          application/x-www-form-urlencoded:
            schema: { type: string }
          "*/*":
            schema: { type: string, format: binary }
      responses:
        "202":
          description: Accepted. Durable copy stored, queued for routing.
          content:
            application/json:
              schema:
                type: object
                required: [event_id, received_at]
                properties:
                  event_id:
                    type: string
                    format: uuid
                    example: 01935b3e-2c08-7c00-8000-c8a1b1e9d2f7
                  received_at:
                    type: string
                    format: date-time
        "401":
          description: Missing or invalid header authentication, an invalid provider signature, or a rejected URL query credential.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IngestError" }
              examples:
                missing: { value: { error: missing_token } }
                invalid: { value: { error: invalid_token } }
                signature: { value: { error: invalid_signature, reason: invalid_signature } }
                queryCredential: { value: { error: query_token_not_allowed } }
                urlDisabled: { value: { error: url_authentication_disabled } }
                ambiguous: { value: { error: ambiguous_authentication } }
        "402":
          description: Workspace is billing-suspended.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IngestError" }
              example: { error: billing_suspended }
        "403":
          description: Source is disabled, or the request IP isn't allowlisted.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IngestError" }
              examples:
                disabled: { value: { error: source_disabled } }
                ipBlocked: { value: { error: ip_not_allowlisted } }
        "404":
          description: Unknown source id.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IngestError" }
              example: { error: unknown_source }
        "413":
          description: Payload too large or too deeply nested.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IngestError" }
              examples:
                bytes: { value: { error: payload_too_large } }
                depth: { value: { error: payload_too_deep } }
        "429":
          description: Per-source rate limit or workspace plan-quota exceeded.
          headers:
            retry-after:
              schema: { type: integer }
              description: Seconds to wait before retrying.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IngestError" }
              examples:
                rate: { value: { error: rate_limited } }
                quota: { value: { error: plan_quota_exceeded } }
        "503":
          description: Backpressure from upstream queue or storage. Retry.
          headers:
            retry-after:
              schema: { type: integer }
              description: Seconds to wait before retrying.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IngestError" }
              examples:
                queue: { value: { error: queue_overloaded, retry_after_seconds: 5 } }
                storage: { value: { error: storage_unavailable, retry_after_seconds: 2 } }

components:
  securitySchemes:
    WorkspaceBearer:
      type: http
      scheme: bearer
      bearerFormat: axl_…
      description: |
        Workspace API key. Format: `axl_` followed by 32+ url-safe
        characters. Create at
        [Settings → API keys](https://app.axelapp.ai/settings?tab=api-keys).
        The key carries one or more scopes (`read`, `write`, `replay`,
        `admin`); the endpoint will 403 if your key doesn't include the
        required scope.
    SourceToken:
      type: apiKey
      in: header
      name: x-axel-token
      description: |
        Custom sources only. The plaintext source token returned at
        source-create time. This token is never accepted in a URL.
        Treat it as a secret: leaked tokens can post arbitrary payloads
        into your workspace. Rotate it from the source settings page.
    SourceUrlToken:
      type: apiKey
      in: query
      name: url_token
      description: |
        Custom sources only. Separate credential generated from source Settings
        for a sender that cannot set headers. Disabled by default. Only a hash
        is stored; the authenticated URL is shown once. Rotate or disable it
        independently of the header token. Do not combine with x-axel-token.
        Named providers and optional custom HMAC retain signature requirements.
    StripeSignature:
      type: apiKey
      in: header
      name: Stripe-Signature
      description: Stripe-generated signature for a Stripe source.
    GitHubSignature:
      type: apiKey
      in: header
      name: X-Hub-Signature-256
      description: GitHub-generated HMAC-SHA256 signature for a GitHub source.
    ShopifySignature:
      type: apiKey
      in: header
      name: X-Shopify-Hmac-Sha256
      description: Shopify-generated HMAC-SHA256 signature for a Shopify source.
    ChargebeeBasic:
      type: http
      scheme: basic
      description: Chargebee webhook Basic Authentication configured on the Chargebee source.

  parameters:
    Limit:
      in: query
      name: limit
      required: false
      schema: { type: integer, minimum: 1, maximum: 1000, default: 50 }
      description: Page size. Max 1000.
    Cursor:
      in: query
      name: cursor
      required: false
      schema: { type: string, nullable: true }
      description: |
        The id from the previous page's last row. Omit on the first
        page. When `meta.next_cursor` is `null`, you've reached the end.

  responses:
    Unauthenticated:
      description: Missing or invalid `Authorization` header.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example:
            error: "Missing or invalid Authorization header. Expected `Bearer axl_…`."
            code: unauthenticated
    ForbiddenScope:
      description: Key is valid but doesn't carry the required scope.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example:
            error: 'This endpoint requires the "write" scope.'
            code: forbidden_scope
    BadRequest:
      description: Body failed validation.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            invalidJson:
              value: { error: "Body isn't valid JSON: …", code: invalid_body }
            invalidName:
              value: { error: "name must be 2–64 characters.", code: invalid_name }
            missingEventId:
              value: { error: "event_id is required.", code: invalid_body }

  schemas:
    Error:
      type: object
      required: [error, code]
      properties:
        error:
          type: string
          description: Human-readable message. Use `code` for programmatic error handling.
        code:
          type: string
          description: Stable machine-readable failure slug.
          example: forbidden_scope

    IngestError:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Stable failure slug (e.g. `invalid_token`, `payload_too_large`).
        reason:
          type: string
          description: Optional sub-reason. Currently only set for `invalid_signature`.
        retry_after_seconds:
          type: integer
          description: Optional hint for 503 responses (mirrors the `retry-after` header).

    PageMeta:
      type: object
      required: [limit, next_cursor]
      properties:
        limit:
          type: integer
          description: The effective page size.
        next_cursor:
          type: string
          nullable: true
          description: |
            Pass back as `?cursor=` to fetch the next page. `null` means
            no more pages.

    Source:
      type: object
      required: [id, status, created_at]
      properties:
        id: { type: string, example: src_8c12af }
        name: { type: string, nullable: true, example: stripe-webhooks-prod }
        status:
          type: string
          enum: [active, disabled]
        created_at: { type: string, format: date-time }

    SourceCreated:
      type: object
      required: [id, name, secret_token, ingest_url, warning]
      properties:
        id: { type: string, example: src_8c12af }
        name: { type: string, example: stripe-webhooks-prod }
        secret_token:
          type: string
          description: The plaintext source token, shown only in this response.
          example: stk_3f9c…
        ingest_url:
          type: string
          format: uri
          description: |
            Source ingest URL. POST upstream payloads here with
            `x-axel-token: {secret_token}`.
          example: https://ingest.axelapp.ai/in/src_8c12af
        warning:
          type: string
          example: secret_token is shown ONCE. Store it now — it cannot be retrieved later.

    Destination:
      type: object
      required: [id, type, status, circuit_state, delivery_paused, created_at]
      properties:
        id: { type: string, example: dst_a91f02 }
        name: { type: string, nullable: true, example: prod-warehouse }
        type:
          type: string
          description: Connector slug (e.g. `webhook`, `postgres`, `bigquery`, `s3`).
          example: webhook
        status:
          type: string
          enum: [active, disabled]
        circuit_state:
          type: string
          enum: [closed, half_open, open]
          description: Per-destination circuit-breaker state.
        delivery_paused:
          type: boolean
          description: Operator-set pause flag. When true, no new deliveries are attempted.
        created_at: { type: string, format: date-time }

    Route:
      type: object
      required: [id, source_id, status, created_at]
      properties:
        id: { type: string, example: rte_2c01dd }
        source_id: { type: string, example: src_8c12af }
        status:
          type: string
          enum: [active, disabled]
        created_at: { type: string, format: date-time }

    ExportedConfig:
      type: object
      required: [version, exported_at, workspace_id, sources, destinations, routes]
      properties:
        version:
          type: integer
          enum: [1]
        exported_at: { type: string, format: date-time }
        workspace_id: { type: string }
        sources:
          type: array
          items: { type: object, additionalProperties: true }
        destinations:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              credentials_ref:
                type: string
                nullable: true
                description: |
                  A redaction marker when credentials are present. Its legacy text
                  refers to POST /destinations, but this API has no destination
                  creation endpoint. Configure credentials in the dashboard.
        routes:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              destination_ids:
                type: array
                items: { type: string }
              destination_bindings:
                type: object
                description: Per-destination route bindings keyed by destination id.
                additionalProperties:
                  anyOf:
                    - type: object
                      additionalProperties: true
                    - type: "null"
